---
import Layout from '@layouts/Layout.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Paragraph from '@components/Paragraph.astro'

import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

export async function getStaticPaths() {
  const evt = await getCollection('event')
  return evt.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

interface Props {
  entry: CollectionEntry<'event'>
}

const { entry } = Astro.props
// ToC作成
const { Content, headings } = await entry.render()
headings.unshift({ depth: 0, slug: '目次', text: '目次' })
---

<Layout title={entry.data.title}>
  <div slot="content">
    <article id="dyn-content">
      <SectionTitle title={entry.data.title} level={1} />
      <SectionTitle title="開催日時" level={2} />
      {
        entry.data.beginDate && entry.data.endDate && (
          <>
            <Paragraph>
              {' '}
              {entry.data.beginDate} 〜 {entry.data.endDate}{' '}
            </Paragraph>
          </>
        )
      }
      {
        entry.data.judge && (
          <>
            <SectionTitle title="ジャッジシステム" level={2} />
            <Paragraph> {entry.data.judge} </Paragraph>
          </>
        )
      }
      {
        entry.data.description && (
          <>
            <SectionTitle title="イベント概要" level={2} />
            <Paragraph> {entry.data.description} </Paragraph>
          </>
        )
      }
      {
        entry.data.place && (
          <>
            <SectionTitle title="会場" level={2} />
            <Paragraph> {entry.data.place} </Paragraph>
          </>
        )
      }
      {
        entry.data.problems && (
          <>
            <SectionTitle title="問題セット" level={2} />
            {entry.data.problems.map(([problem, url]) => (
              <ul>
                <li>
                  <a href={url}>{problem}</a>
                </li>
              </ul>
            ))}
          </>
        )
      }

      {
        entry.data.explanation && (
          <>
            <SectionTitle title="解説" level={2} />
            <table>
              <tbody>
                {entry.data.explanation.map((title, i) => (
                  <tr>
                    <td>{`${String.fromCodePoint(i + 65)}: ${title}`}</td>
                    <td>
                      <a href={`/contestData/${entry.slug}/${String.fromCodePoint(i + 65)}.pdf`}>pdf</a>
                    </td>
                  </tr>
                ))}
              </tbody>
            </table>
          </>
        )
      }

      <Content />
    </article>
  </div>
</Layout>
<style is:global>
  article#dyn-content {
    /*see. @components/SectionTitle.astro*/
    h1 {
      @apply text-2xl font-bold;

      border-bottom: 2px solid #007bff;
      border-left: 5px solid #337bff;
      background-color: #add0fd;

      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

    /*see. @components/SectionTitle.astro*/
    h2 {
      @apply text-xl;
      border-bottom: 2px solid #007bff;
      border-left: 5px solid #337bff;
      background-color: #add0fd;

      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

    /*see. @components/SectionTitle.astro*/
    h3 {
      @apply text-lg;
      border-bottom: 2px solid #007bff;
      border-left: 5px solid #337bff;
      background-color: #add0fd;

      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

    /*see. @components/SectionTitle.astro*/
    h4 {
      @apply text-base;
      border-bottom: 2px solid #007bff;
      border-left: 5px solid #337bff;
      background-color: #add0fd;

      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

    /*see. @components/SectionTitle.astro*/
    h5 {
      @apply text-sm;
      border-bottom: 2px solid #007bff;
      border-left: 5px solid #337bff;
      background-color: #add0fd;

      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

    /*see. @components/SectionTitle.astro*/
    h6 {
      @apply text-xs;
      border-bottom: 2px solid #007bff;
      border-left: 5px solid #337bff;
      background-color: #add0fd;

      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

    /*see. @components/Paragraph.astro*/
    p {
      line-height: 1.6;
      margin-bottom: 1rem;
    }
    a {
      color: #007bff;
    }
    td,
    th {
      border: 6px double black;
    }
  }
</style>
