---
import { Image } from 'astro:assets'

import Layout from '@layouts/Layout.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Paragraph from '@components/Paragraph.astro'
import TwitterPost from '@components/twitter/Post.astro'
import { YouTube } from 'astro-embed'

import Ad_Image from '@assets/RiPPro_Ad.png'

const courseDateStart = new Date(`2025/5/11`)
const courseDateEnd = new Date(`2025/7/31`)
const coueseWeek = ['月', '水']
const workshopDate = '2025/4/7(月)'
const coursePlace = 'OIC H324教室'
const courseTime = '16:40〜18:25'
---

<Layout title="新歓情報">
  <div slot="content">
    <article id="dyn-content">
      <SectionTitle title="新歓Discordサーバー" />
      <TwitterPost url="https://x.com/PJ_RiPPro/status/1907408404735545444" />

      <SectionTitle title="新歓講演会 " />
      <div>
        <div class="flex">
          <div class="grow">
            <Paragraph> 私たちRiPRroの普段の活動内容や配布したビラの問題の解説などを行います！ </Paragraph>
            <Paragraph> どこの学部の方でもでも歓迎するので気軽に参加してください。 </Paragraph>
            <ul>
              <li>日程 : {workshopDate}</li>
              <li>場所 : {coursePlace}</li>
              <li>時間 : {courseTime}</li>
            </ul>
          </div>
          <div class="ad grow-0 flex-end">
            <a href={Ad_Image.src} target="_blank">
              <Image src={Ad_Image} alt="新歓講演会" />
              タップで拡大
            </a>
          </div>
        </div>
      </div>
      <SectionTitle title="RiPProとは" />
      <Paragraph>
        私たち RiPProは競技プログラミングの能力を高めコンテストでの入賞を目指す団体です。<br />
        競技プログラミングって聞いたことありますか？<br />
        競技プログラミングとは、与えられた問題をプログラムを用いて早く正確に解く種目です。<br />
        世界規模での大会が開催されるなどとても活発です。<br />
        AtCoder などでは初心者から熟練者まで幅広く参加できるコンテストが毎週開催されています。
      </Paragraph>

      <SectionTitle title="Twitter" />
      <Paragraph>
        良いプログラムとはどういうものでしょうか？<br />
        例えばこの動画のお姉さんは一つ一つ必死に数えていますが、もっと効率よく数える方法は無いでしょうか。<br />
        また、その方法をどうやってプログラムに落とし込みますか？<br />
        このようなことを考えることはパズルを解くのと同じようにとても楽しいですし、実際のプログラム開発でも役に立ちます。
      </Paragraph>
      <YouTube id="https://youtu.be/Q4gTV4r0zRs" />
      <Paragraph>
        RiPProの普段の活動ではコンテスト形式でサークル内で競いながら問題を解いていきます。<br />
        年に 1~2 回ほどですが、問題を作ったりもしています。 (例:立命合宿 2024,会津合宿 2025)<br />
        プログラミングの勉強をしたい方、クイズやパズルが好きな方、是非部室に来てください情報理工学部生以外も大歓迎です。<br
        />
      </Paragraph>
    </article>
  </div>
</Layout>
<style>
  #pj-list {
    a {
      color: #007bff;
    }
    dd {
      margin-left: 1rem;
    }
  }
  .ad {
    width: 20%;
    img {
      padding-right: 2%;
    }
  }
</style>
